<!DOCTYPE html>
<html lang="en">
<head>
  <title><%=title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
.jumbotron {
    height: 200px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0% 50%;
    background-image: url("/background.jpg");
    min-width: 300px;
}
</style>
</head>
<body>

<div class="jumbotron">
  <!--<div class="container">
    <h1 align="center"><font color="steelblue"><%=title %></font></h1>
  </div>-->
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 style="text-align: center"><%=title %></h1>
      <p style="text-align: center">Thanks for playing! Would you like to play again?</p>
    </div>
    <div class="col-xs-12 text-center">
      <a href="/"><button type="button" class="btn btn-default btn-lg">Play Again</button></a>
    </div>
  </div>
</div>
</body>
</html>

