.square{
    width:100px;
    height:100px;
    text-align:center;
    font-size: 70px;
    color: #000;
}

.v{
    border-left:2px solid #000;
    border-right:2px solid #000;
}

.h{
    border-top:2px solid #000;
    border-bottom:2px solid #000;
}

table {
    margin: 0 auto;
}

.jumbotron {
    height: 250px;
    background-repeat: no-repeat; 
    background-size: 100% auto;
    background-position: 0% 50%; 
    background-image: url("/background.jpg");
    min-width: 300px;
}
